h1{
    color: rgb(255, 145, 43);
}
body {
    background-color: rgba(255, 254, 192, 0.842);
}
#a228 {
    color: rgb(255, 160, 160);
}
#a229 {
    color: rgb(253, 81, 81);
}
#a230 {
    color: rgb(156, 36, 36);
}
#a231 {
    color: rgb(110, 1, 1);
}

p {
    font-size: 45px;
}