h2{
    color: rgb(21, 182, 0);
}
h1{
    color: rgb(4, 153, 133);
}
.a {
    color:rgb(2, 0, 128);
}
#a228 {
    color: rgb(100, 238, 82);
}
body {
    background: rgba(250, 236, 175, 0.876);
}